{{extend 'layout.html'}}

<h1>web2py<sup style="font-size:0.5em;">TM</sup> Enterprise Web Framework</h1>
<h2>Login to the Administrative Interface</h2><br/>
<i>ATTENTION: Login requires a secure (HTTPS) connection or running on localhost.</i>
<br/><br/>
<form action="" method="post">
<div><input type="hidden" name="send" value="{{=send}}"/></div>
<table>
<tr><td>Administrator Password:</td><td><input type="password" name="password"/></td></tr>
<tr><td></td><td><input type="submit" name="login"/></td></tr>
</table>
</form>
