<script language="javascript" type="text/javascript" src="/{{=request.application}}/static/tiny_mce/tiny_mce.js"></script>



<script language="javascript" type="text/javascript">
 tinyMCE.init({
    mode : "textareas",
    theme : "advanced",
    plugins : "table",
    convert_urls: "false",
content_css : "/{{=request.application}}/static/tiny_mce/example_word.css",
external_link_list_url : "/{{=request.application}}/static/tiny_mce/example_link_list.js",
external_image_list_url : "/{{=request.application}}/static/tiny_mce/example_image_list.js",
media_external_list_url : "/{{=request.application}}/static/tiny_mce/example_media_list.js",
    apply_source_formatting : "true",
    theme_advanced_container_toolbar1_align : "left",
    theme_advanced_layout_manager : "RowLayout",
    theme_advanced_containers : "toolbar1,toolbar2,mceEditor",
    theme_advanced_container_toolbar1 :
             "bold,italic,underline,strikethrough,charmap,"+
             "justifyleft,justifycenter,justifyright,justifyfull,"+
             "bullist,numlist,indent,outdent,"+         
            "link,unlink,hr,"+
            "image,removeformat",
    theme_advanced_container_toolbar2 : "tablecontrols",
    theme_advanced_path : "false",
    remove_script_host : "true",
    relative_urls : "false"
})
</script>

