{{extend 'layout.html'}}
{{import os}}

<!-- Start Slashdot It link -->

<div style="text-align:right;">

<a href="http://slashdot.org/bookmark.pl?url=http://mdp.cti.depaul.edu/examples&title=web2py">
<img src="http://images.slashdot.org/favicon.gif" alt="Slashdot" border="0" height="16" width="16" />
</a>

<a href="http://digg.com/submit?url=http://mdp.cti.depaul.edu/" target="_blank"><img title="Digg" alt="Digg" src="/{{=request.application}}/static/bookmarks/digg.png" width="16" height="16" border="0" />
</a>

<a href="http://www.facebook.com/sharer.php?u=http://mdp.cti.depaul.edu/examples&t=web2py" target="_blank">
<img title="Facebook" alt="Facebook" src="/{{=request.application}}/static/bookmarks/facebook.gif" width="16" height="16" border="0" />
</a>

<a href="http://del.icio.us/post?url=http://mdp.cti.depaul.edu/examples" target="_blank">
<img title="del.icio.us" alt="del.icio.us" src="/{{=request.application}}/static/bookmarks/delicious.png" width="16" height="16" border="0" />
</a>

<a href="http://www.newsvine.com/_wine/save?u=http://mdp.cti.depaul.edu/examples&h=web2py" target="_blank">
<img title="Newsvine" alt="Newsvine" src="/{{=request.application}}/static/bookmarks/newsvine.png" width="16" height="16" border="0" />
</a>

<a href="http://www.stumbleupon.com/submit?url=http://mdp.cti.depaul.edu/examples&title=web2py" target="_blank">
<img title="StumbleUpon" alt="StumbleUpon" src="/{{=request.application}}/static/bookmarks/stumble_upon.gif" width="16" height="16" border="0" />
</a>

<a href="http://reddit.com/submit?url=http://mdp.cti.depaul.edu/examples" target="_blank">
<img title="Reddit" alt="Reddit" src="/{{=request.application}}/static/bookmarks/reddit.png" width="18" height="18" border="0" />
</a>

<a href="http://bookmarks.yahoo.com/toolbar/savebm?opener=tb&u=http://mdp.cti.depaul.edu/examples&t=web2py" target="_blank">
<img title="Yahoo" alt="Yahoo" src="/{{=request.application}}/static/bookmarks/yahoo.gif" width="16" height="16" border="0" />
</a>

<a href="http://cgi.fark.com/cgi/fark/submit.pl?new_url=http://mdp.cti.depaul.edu/examples&new_comment=web2py" target="_blank">
<img title="Fark" alt="Fark" src="/{{=request.application}}/static/bookmarks/fark.png" width="15" height="18" border="0" />
</a>

<a href="http://technorati.com/faves?add=http://mdp.cti.depaul.edu/examples" target="_blank">
<img title="Technorati" alt="Technorati" src="/{{=request.application}}/static/bookmarks/technorati.gif" width="16" height="16" border="0" />
</a>

<a href="http://www.furl.net/storeIt.jsp?u=http://mdp.cti.depaul.edu/examples&t=web2py" target="_blank">
<img title="Furl" alt="Furl" src="/{{=request.application}}/static/bookmarks/furl.png" width="16" height="16" border="0" />
</a>

<a href="http://ma.gnolia.com/bookmarklet/add?url=http://mdp.cti.depaul.edu/examples&title=web2py" target="_blank">
<img title="Ma.gnolia" alt="Ma.gnolia" src="/{{=request.application}}/static/bookmarks/magnolia.png" width="16" height="16" border="0" />
</a>
</div>
<!-- End Slashdot It link -->

<h1>web2py<sup style="font-size:0.5em;">TM</sup> Enterprise Web Framework</h1>

<table width="100%" border="0" cellspacing="0" cellpaddning="0">
<tr><td align="left" valign="top">
<span style="color: red">Formerly known as "Gluon" and always backward compatible!<br/>
Current {{=open('VERSION','r').read().strip()}}. Please upgrade.<br/><br/></span>
<h3>
web2py is an open source full-stack Enterprise Framework
for agile development of secure database-driven web-based applications,
written and programmable in Python. Created by <a href="http://www.cti.depaul.edu/aboutcti/pages/facultyinfo.aspx?id=343">Massimo Di Pierro</a>. &copy; 2007-2008.
</h3></td>
<td align="center" valign="middle">
<img src="http://mac.softpedia.com/images/spyward/softpedia_clean_award_f.gif" align="left"/>

</td></tr></table>
<br/>

<table width="100%" border="0" cellspacing="0" cellpaddning="0">
<tr><td align="left" valign="top">
<h2>Learning opportunitites</h2>
<br/>
<ul>
<li><a href="http://mdp.cti.depaul.edu/examples/default/download">Download web2py</a></li>
<li><a href="http://mdp.cti.depaul.edu/examples/static/cookbook.pdf">Cookbook tutorial</a> (<a href="http://mdp.cti.depaul.edu/appliances/default/download/app.source.130193843596.tar">cookbook app</a>)</li>
<li><a href="/examples/default/examples">Lots of examples</a></li>
<li><a href="http://mdp.cti.depaul.edu/examples/static/compiled_docs_beta.pdf">Collection of Docs in PDF format (beta)</a></li>
<li><a href="/examples/default/api">Interactive documentation</a>
and <a href="/examples/static/epydoc/index.html">epydocs</a></li>
<li><a href="http://mdp.cti.depaul.edu/appliances">Appliances repository (lots of free apps)</a></li>
<li><a href="http://www.cti.depaul.edu/programs/courses.asp?courseid=438&subject=CSC&section=courses">Online course</a></li>
<li><a href="http://code.google.com/p/web2py">Browse the latest code</a></li>
<li><a href="http://groups.google.com/group/web2py">Join us for questions</a></li>
<li><a href="https://mdp.cti.depaul.edu/sqldesigner/default/sqldesigner">New! Try the interactive model builder</a></li>
<li><a href="http://mdp.cti.depaul.edu/examples/static/web2py_comics.pdf">New! You like comics? read this.</a></li>
</ul>

</td><td align="center" valign="middle">
<object type="application/x-shockwave-flash" width="400" height="250" data="http://www.vimeo.com/moogaloop.swf?clip_id=428474&amp;server=www.vimeo.com&amp;fullscreen=1&amp;show_title=1&amp;show_byline=1&amp;show_portrait=0&amp;color="><param name="quality" value="best" /><param name="allowfullscreen" value="true" /><param name="scale" value="showAll" /><param name="movie" value="http://www.vimeo.com/moogaloop.swf?clip_id=428474&amp;server=www.vimeo.com&amp;fullscreen=1&amp;show_title=1&amp;show_byline=1&amp;show_portrait=0&amp;color=" /></object>
</td></tr></table>
<br/><br/>

<h2>Why web2py?</h2><br/>

<ul>
<li>No installation, No configuration, No console scripting, No dependencies. It even runs off a USB drive.</li>
<li>Everything is done through the provided web interface (including development, debugging, testing, maintenantce, deployment, internationalization, and database administration)</li>
<li>It is portable. Runs on Windows, Mac, Linux, Unix and some <a href="http://mdp.cti.depaul.edu/examples/static/gluonce.jpg">cellphones</a>.</li>
<li>No limitation on licensing of the applications you develop. web2py even allows you to bytecode compile them and distribute in closed-sorce format (as long they do not contain web2py source code, read the <a href="/{{=request.application}}/default/license">license</a>)
<li>web2py prevents the most common types of vulnerabilities: Cross Site Scripting, Injection Flaws, and Malicious File Execution.</li>
<li>web2py includes libraries to handle JSON, AJAX, RSS, ATOM, CSV, RTF, XML, XML-RPC, REST, <a href="https://mdp.cti.depaul.edu/cas">CAS</a>, and WIKI markup and can talk to SQLite, MySQL, PostgreSQL and Oracle databases.</li>
<li>web2py can handle upload and download of very large files.</li>
<li>web2py also works with third party python libraries. For example, it can talk to Falsh via PyAMF. <a href="/{{=request.application}}/default/pyamf_howto">Here</a> is a tutorial.</li>
<li>web2py guides the developer to follow well established software engineering patterns such as the Model-View-Controller and testing.</li>
<li>web2py is really easy to use. To develop with web2py you only need to know <a href="http://www.python.org">Python</a> (<a href="http://www.poromenos.org/tutorials/python">the easiest of programing languages</a>) and HTML ({{=A('compare web2py with PHP',_href=URL(r=request,f='web2py_vs_php'))}}).</li>
<li>web2py includes a web interafce to doctests (the python testing library) which tests functions in your application and generates real-time reports.</li>
<li>web2py has an <a href="http://mdp.cti.depaul.edu/appliances/">appliances repository</a> where new free and ready to use apps are added daily.</li>
</ul>

<h2>A taste of web2py</h2><br/>

Consider the following complete application which consists a model (which describes the data representation): <tt>db.py</tt><br/><br/>
{{=CODE("""
db=SQLDB('sqlite://images.db')
db.define_table('image',SQLField('file','upload'))
""".strip(),language='web2py',link='/examples/global/vars/')}}
<br/>a controller (which describes the application logic and workflow): <tt>images_examples.py</tt><br/><br/>
{{=CODE("""
def index():
    form=SQLFORM(db.image)
    if form.accepts(request.vars,session): response.flash='image uploaded'
    return dict(form=form)
""".strip(),language='web2py',link='/examples/global/vars/')}}
<br/>and a view (which describes the data presenation): <tt>images_examples/index.html</tt>:<br/><br/>
{{=CODE(open('applications/examples/views/images_examples/index.html','r').read(),language='html')}}
<br/>What does it do?
<ul>
<li>Creates the database db in file 'images.db'</li>
<li>Creates the table 'image' which contains a field called 'file'. If the table exists but does not match the definition it is altered accordingly.</li>
<li>Creates a web-based database administrative interface for db.image</li>
<li>Creates a web page called index with upload form for db.image. Try it <a href="/{{=request.application}}/images_examples/index">here</a></li>
<li>On upload the file is renamed in a secure way, saved, and the name of the file is stored in a new field db.image record.</li>
</ul>

<h2>Our visitors</h2>
<center>
<a href="http://www3.clustrmaps.com/counter/maps.php?url=http://mdp.cti.depaul.edu" id="clustrMapsLink"><img src="http://www3.clustrmaps.com/counter/index2.php?url=http://mdp.cti.depaul.edu" style="border:0px;" alt="Locations of visitors to this page" title="Locations of visitors to this page" id="clustrMapsImg" onError="this.onError=null; this.src='http://www2.clustrmaps.com/images/clustrmaps-back-soon.jpg'; document.getElementById('clustrMapsLink').href='http://www2.clustrmaps.com'" /></a>
</center>