{{extend 'layout.html'}}

<h1>web2py<sup style="font-size:0.5em;">TM</sup> Enterprise Web Framework</h1>

<p>
Free and open source full-stack enterprise framework
for agile development of fast, secure and portable database-driven web-based applications.
Written and programmable in <a href="http://www.python.org">Python</a>.<br/>
<a href="{{=URL(r=request,f='download')}}">{{=request.env.web2py_version}}</a>
Created by <a href="http://mycti.cti.depaul.edu/people/facultyInfo_mycti.asp?id=343">Massimo Di Pierro</a>. &copy; 2007-2009.
</p>


<ul>
<li>Runs on Linux, Mac, Windows, Windows Mobile, and on the <a href="http://code.google.com/appengine/">Google App Engine</a></li>
<li>Requires no installation and can run off a USB drive</li>
<li>Has no configuration files. You just unzip it and click on it</li>
<li>Includes a multi-threaded <a href="http://www.wsgi.org/wsgi/">wsgi</a>-compliant <a href="{{=URL(r=request,c='static',f='epydoc/gluon.wsgiserver-module.html')}}">web-server</a> (also works with <a href="http://www.apache.org/">Apache</a> and others)</li> 
<li>Includes a transaction-safe relational database (<a href="http://www.sqlite.org/">sqlite</a>)</li>
<li>Includes a web-based integrated development environment (<a href="http://mdp.cti.depaul.edu//demo_admin">demo</a>)</li>
<li>Includes a ticketing system to help you debug deployed applications</li> 
<li>Includes a sophisticated <a href="{{=URL(r=request,f='dal')}}">Database Abstraction Layer</a> that can handle joins, left joins, nested selects, aggregates, transactions and distributed transactions. Writes SQL code for you, transparently and in real time, for <a href="http://www.sqlite.org/">SQLite</a>, <a href="http://www.postgresql.org/">PostgreSQL</a>, <a href="http://www.mysql.com/">MySQL</a>, <a href="http://www.microsoft.com/sqlserver">MSSQL</a>, <a href="http://www.firebirdsql.org/">FireBird</a> and <a href="http://www.oracle.com/">Oracle</a></li>
<li>Automatically generates a web-based database administrative interface for your applications</li> 
<li><a href="{{=URL(r=request,f='security')}}">Prevents</a> the most common types of vulnerabilities: Cross Site Scripting, Injection Flaws, and Malicious File Execution</li>
<li>Enforces good Software Engineer practices (<a href="http://en.wikipedia.org/wiki/Model-view-controller">Model-View-Controller design</a>, Server-side form validation, <a href="http://en.wikipedia.org/wiki/Postback">postbacks</a>)</li>
<li>Includes internationalization support and a web based translation interface</li>
<li>Includes functions for caching in ram, disk, memcache and combinations thereof</li>
<li>Includes libraries for <a href="{{=URL(r=request,f='tools#authentication')}}">Authentication</a> (login, logout, registration, change password, etc.)</li> 
<li>Includes libraries for <a href="{{=URL(r=request,f='tools#authorization')}}">Authorization</a> (<a href="http://en.wikipedia.org/wiki/Role-based_access_control">Role Based Access Control</a>)</li>
<li>Includes libraries to generate and process Create/Update <a href="{{=URL(r=request,f='tools#crud')}}">forms</a> directly from a database</li>
<li>Includes libraries to handle <a href="{{=URL(r=request,f='examples#form_examples')}}">HTML</a>, <a href="{{=URL(r=request,f='examples#example_rss')}}">ATOM</a>, <a href="{{=URL(r=request,f='examples#example_rss')}}">RSS</a>, <a href="{{=URL(r=request,f='examples#example_rtf')}}">RTF</a>, <a href="{{=URL(r=request,f='examples#example_json')}}">JSON</a>, <a href="{{=URL(r=request,f='examples#example_wiki')}}">AJAX</a>, <a href="{{=URL(r=request,f='examples#xmlrpc_examples')}}">XML-RPC</a>, <a href="{{=URL(r=request,f='dal#csv')}}">CSV</a>, REST, <a href="{{=URL(r=request,f='examples#example_wiki')}}">WIKI</a></li>
<li>Includes <a href="http://www.jquery.com">jQuery</a> for Effects and Ajax</li>
<li>Includes a powerful Python-based template laguage to render objects into HTML or other text-based protocols</li>
<li>Handles automatically upload and download <a href="{{=URL(r=request,f='examples#example_stream')}}">streaming</a> for large media files</li>
<li>Includes portable cron mechanism for creating and running recurrent tasks in background</li>
<li><a href="{{=URL(r=request,f='license')}}">Allows</a> to bytecode-compile applications and distribute them in closed source</li>
<li>We guarantee backward compatibility of the web2py API since 1.0</li>
</ul>


</div>
<div class="sidebar">
<object type="application/x-shockwave-flash" width="150" height="100" data="http://www.vimeo.com/moogaloop.swf?clip_id=875433&amp;server=www.vimeo.com&amp;fullscreen=1&amp;show_title=1&amp;show_byline=1&amp;show_portrait=0&amp;color="><param name="quality" value="best" /><param name="allowfullscreen" value="true" /><param name="scale" value="showAll" /><param name="movie" value="http://www.vimeo.com/moogaloop.swf?clip_id=875433&amp;server=www.vimeo.com&amp;fullscreen=1&amp;show_title=1&amp;show_byline=1&amp;show_portrait=0&amp;color="/></object>
<a href="http://www.vimeo.com/videos/search:web2py">video tutorials</a>
<br/>
<br/>
<a href="http://mdp.cti.depaul.edu/demo_admin"><img src="{{=URL(r=request,c='static',f='demo.png')}}" width="150px"/></a><br/><a href="http://mdp.cti.depaul.edu/demo_admin">interactive demo</a>
<br/>
<br/>
<a href="http://mdp.cti.depaul.edu/appliances"><img src="{{=URL(r=request,c='static',f='kpax.png')}}" width="150px"/></a><br/><a href="http://mdp.cti.depaul.edu/appliances">free appliances</a>
<br/>
<br/>
<a href="http://www3.clustrmaps.com/counter/maps.php?url=http://mdp.cti.depaul.edu" id="clustrMapsLin"><img width="150px" src="http://www3.clustrmaps.com/counter/index2.php?url=http://mdp.cti.depaul.edu" style="border:0px;" alt="Locations of visitors to this page" title="Locations of visitors to this page" id="clustrMapsImg" onError="this.onError=null; this.src='http://www2.clustrmaps.com/images/clustrmaps-back-soon.jpg'; document.getElementById('clustrMapsLink').href='http://www2.clustrmaps.com'" /></a><br/>
<br/>
<br/>

