{{extend 'layout.html'}}

<h1>web2py<sup style="font-size:0.5em;">TM</sup> Enterprise Web Framework</h1>

<p><b>
Free and open source full-stack enterprise framework
for agile development of secure database-driven web-based applications,
written and programmable in <a href="http://www.python.org">Python</a>.
Created by <a href="http://www.cti.depaul.edu/aboutcti/pages/facultyinfo.aspx?id=343">Massimo Di Pierro</a>. &copy; 2007-2008.
</b></p>

<center><table width="100%"><tr><td class="main_box" width="30%">
<a href="http://mdp.cti.depaul.edu/examples/static/web2py_comics.pdf"><img src="/{{=request.application}}/static/web2py_comics.jpg"/></a>
</td><td class="main_box">
<object type="application/x-shockwave-flash" width="200" height="125" data="http://www.vimeo.com/moogaloop.swf?clip_id=875433&amp;server=www.vimeo.com&amp;fullscreen=1&amp;show_title=1&amp;show_byline=1&amp;show_portrait=0&amp;color="><param name="quality" value="best" /><param name="allowfullscreen" value="true" /><param name="scale" value="showAll" /><param name="movie" value="http://www.vimeo.com/moogaloop.swf?clip_id=875433&amp;server=www.vimeo.com&amp;fullscreen=1&amp;show_title=1&amp;show_byline=1&amp;show_portrait=0&amp;color=" /></object>
</td><td class="main_box">
<a href="http://www3.clustrmaps.com/counter/maps.php?url=http://mdp.cti.depaul.edu" id="clustrMapsLink"><img src="http://www3.clustrmaps.com/counter/index2.php?url=http://mdp.cti.depaul.edu" style="border:0px;" alt="Locations of visitors to this page" title="Locations of visitors to this page" id="clustrMapsImg" onError="this.onError=null; this.src='http://www2.clustrmaps.com/images/clustrmaps-back-soon.jpg'; document.getElementById('clustrMapsLink').href='http://www2.clustrmaps.com'" /></a>
</td></tr></table>
</center>

<center>
<a style="font-size:1.5em;" href="http://mdp.cti.depaul.edu/who">Who is using web2py?</a><br/>
<a style="font-size:1.5em;" href="http://mdp.cti.depaul.edu/demo_admin">try web2py administrative interface here</a><br/>
<a style="font-size:1.5em;" href="http://web2py.appspot.com/">try this Reddit clone (written in web2py) running on Goole App Engine</a>
</center>


<h2>Features</h2>
<ul>
<li>No installation, no configuration, no dependencies. All in one package. You can run it off a USB drive</li>
<li>Runs on Windows, OSX, Unix/Linux, and Windows CE phones.</li>
<li>Allows development, debugging, testing, deployment, maintenance and administration, including database administration, via the provided web interface.</li>
<li>Enforces good Software Engineer practices, like the Model-View-Controller design, validation and self-submission of forms.</li>
<li>Strong on security. Prevents the most common types of vulnerabilities: Cross Site Scripting, Injection Flaws, and Malicious File Execution.</li>
<li>Talks HTML, XML, RSS, ATOM, AJAX, JSON, RTF, CSV, WIKI, XML-RPC, REST, Flash, etc.</li>
<li>Dynamically and transparently generates SQL queries for you for SQLite, MySQL, PostgreSQL and Oracle. Even creates and alters tables for you when required. Performs automatic transactions.</li>
<li>Allows you to create apps easily, byte-code compile them, and distribute them in open or closed source under any license you like.</li>
<li>Faster then the competition, designed for small as well as large projects, includes the ability to upload/download/stream large files, internationalization support, distributed transactions, ...</li>
</ul>

<h2>A taste of web2py</h2>

Consider the following complete application which consists a <b>model</b> (which describes the data representation): <tt>db.py</tt>
{{=CODE("""
db=SQLDB('sqlite://images.db')
db.define_table('image',SQLField('file','upload'))
""".strip(),language='web2py',link='/examples/global/vars/')}}
a <b>controller</b> (which describes the application logic and workflow): <tt>images_examples.py</tt>
{{=CODE("""
def index():
    form=SQLFORM(db.image)
    if form.accepts(request.vars,session): response.flash='image uploaded'
    return dict(form=form)
""".strip(),language='web2py',link='/examples/global/vars/')}}
and a <b>view</b> (which describes the data presentation): <tt>images_examples/index.html</tt>:
{{=CODE("{"+"{extend 'layout.html'}"+"""}
<h1>Upload page</h1>
{"""+"{=form}"+"}",language='html')}}
What does it do?
<ul>
<li>Creates the database db in file 'images.db'</li>
<li>Creates the table 'image' which contains a field called 'file'. If the table exists but does not match the definition it is altered accordingly.</li>
<li>Creates a web-based database administrative interface for db.image</li>
<li>Creates a web page called index with upload form for db.image. Try it <a href="/{{=request.application}}/images_examples/index">here</a></li>
<li>On upload the file is renamed in a secure way, saved, and the name of the file is stored in a new field db.image record.</li>
</ul>





