{{extend 'layout.html'}}
{{import os}}

<h1>web2py<sup style="font-size:0.5em;">TM</sup> Acknowledgments</h1>

<ul>
<li>web2py was developed and is copyrighted by Massimo Di Pierro</li>
<li>web2py is programmed in <a href="http://www.python.org">Python</a> created by Guido van Rossum. web2py includes the Python interpreter.</li>
<li>This project uses cherrypy.wsgiserver developed by Peter Hunt.</li>
<li>Some aspects of its design are inspired by Ruby on Rails, Django, Turbogears, Pylons, Cherrypy, and web.py frameworks.</li>
<li>The compilation of the applications would not have been possible without advice provided by Atul Varma</li>
<li>We use and include <a href="http://www.cdolivet.net/editarea/">EditArea</a> developed by Christophe Dolivet</li>
<li>... <a href="http://tinymce.moxiecode.com/">TinyMCE</a> developed by Moxiecode</li>
<li>... <a href="http://www.kryogenix.org/code/browser/sorttable/">SortTable</a> by Stuart Langridge.</li>
<li>... <a href="http://cheeseshop.python.org/pypi/simplejson">simplejson</a> developed by Bob Ippolito</li>
<li>... <a href="http://pyrtf.sourceforge.net/">PyRTF</a> developed by Simon Cusack and revised by Grant Edwards</li>
<li>... <a href="http://www.dalkescientific.com/Python/PyRSS2Gen.html">PyRSS2Gen</a> developed by Dalke Scientific Software</li>
<li>... <a href="http://code.google.com/p/python-markdown2/">markdown2</a> developed by Trent Mick</li>
<li>... <a href="http://svn.saddi.com/py-lib/trunk/fcgi.py">fcgi.py</a> devloped by Allan Saddi (for production Lighttpd servers)</li>
<li>Thanks to Andre Berthiaume for really stress testing web2py under critical conditions.</li>
<li>Thanks to <a href="http://www.petersblog.org/node/763">Peter Wilkinson</a> for providing a great example of simple syntax highlighting code</li>
<li>Thanks to Markus Gritsch for many useful comments and Niccolo Polo for help with epydoc.</li>
<li>Thanks to <a href="http://www.mlsystems.ch">Marcel Leuthi</a> for help and testing with Oracle.</li>
<li>Thanks to Sharriff Aina for his tests and PyAMF howto.</li>
<li>Thanks to Sterling Hankins his helpful comments</li>
<li>This project also uses css layouts and images downloaded from the web. Their authors are acknowledged inside the respective files, if known.</li>
</ul>
