{{extend 'layout.html'}}
{{import os}}

<h1>web2py<sup style="font-size:0.5em;">TM</sup> Acknowledgments</h1>

<ul>
<li>web2py was developed and is copyrighted by Massimo Di Pierro</li>
<li>web2py is programmed in <a href="http://www.python.org">Python</a> created by Guido van Rossum. web2py includes the Python interpreter. <a href="http://www.python.org/download/releases/2.4.2/license/">here</a> is the full Python history and license.</li>
<li>This project uses cherrypy.wsgiserver developed by Peter Hunt and Robert Brewer.</li>
<li>Some aspects of its design are inspired by Ruby on Rails, Django, Turbogears, Pylons, Cherrypy, and web.py frameworks.</li>
<li>The compilation of the applications would not have been possible without advice provided by Atul Varma</li>
<li>We use and include <a href="http://www.cdolivet.net/editarea/">EditArea</a> developed by Christophe Dolivet</li>
<li>... <a href="http://nicedit.com">nicEdit</a> developed by <a href="http://bkirchoff.com">Brian Kirchoff</a></li>
<li>... <a href="http://cheeseshop.python.org/pypi/simplejson">simplejson</a> developed by Bob Ippolito</li>
<li>... <a href="http://pyrtf.sourceforge.net/">PyRTF</a> developed by Simon Cusack and revised by Grant Edwards</li>
<li>... <a href="http://www.dalkescientific.com/Python/PyRSS2Gen.html">PyRSS2Gen</a> developed by Dalke Scientific Software</li>
<li>... <a href="http://www.feedparser.org/">feedparser</a> developed by Mark Pilgrim</li>
<li>... <a href="http://code.google.com/p/python-markdown2/">markdown2</a> developed by Trent Mick</li>
<li>... <a href="http://svn.saddi.com/py-lib/trunk/fcgi.py">fcgi.py</a> devloped by Allan Saddi (for production Lighttpd servers)</li>
<li>... <a href="http://www.danga.com/memcached/">memcache</a> developed by Evan Martin</li>
<li>... <a href="http://jquery.com/">jQuery</a> developed by John Resig</li> 
<li>Thanks to Andre Berthiaume for really stress testing web2py under critical conditions.</li>
<li>Thanks to <a href="http://www.petersblog.org/node/763">Peter Wilkinson</a> for providing a great example of simple syntax highlighting code</li>
<li>Thanks to Markus Gritsch for many useful comments</li>
<li>Thanks to Niccolo Polo for help with epydoc and streaming.</li>
<li>Thanks to <a href="http://www.mlsystems.ch">Marcel Leuthi</a> for help and testing with Oracle.</li>
<li>Thanks to <a href="http://blog.donews.com/limodou/">Limodou</a> for developing shell.py and winservice.py</li>
<li>Thanks to Michael Willis for help with shell.py.</li>
<li>Thanks to Younghyun Jo and Pai for help with internationalization.</li>
<li>Thanks to Sharriff Aina for his tests and PyAMF howto.</li>
<li>Thanks to Sterling Hankins his helpful comments</li>
<li>Thanks to <a href="http://robinbhattacharyya.com/">Robin Bhattacharyya</a> for his major rewrite of the gql.py module and to ga2arch and James Ashley for their many tests and suggestions on porting web2py to the Google App Engine</li>
<li>Thanks to Yarko for his many tests and suggestions about overall design</li>
<li>Thanks to Niall Sweeny and Stuart Rackham for improving the testing capabilities and to Niall for MSSQL support</li>
<li>Thanks to Jose Jachuf for FireBirdSQL support</li>
<li>Thanks to Mark Moore for the Ubuntu daemon script</li>
<li>Thanks to Kyle Smith for porting the js calendar</li>
<li>Thanks to Francisco Gama for his many suggestions and bug fixes.</li>
<li>Thanks to Fred Yanowski for making the layout XHTML compliant</li>
<li>Thanks to DenesL for improving web2py validators</li>
<li>Thanks to Timothy Farrel for porting web2py to Python 2.6, contributing many small patches and useful comments</li>
<li>Thanks to CJ Lazell for many tests and useful comments</li>
<li>Thanks to Mateusz Banach for the stickers</li>
<li>Thanks to <a href="phyo.arkarlwin@star-nix.net">Phyo Arkar Lwin</a> for for the first web2py based hosting <a href="http://www.star-nix.com">star-nix</a> and many comments and contributions</li> 
<li>Thanks to Mark Larsen for the taskbar widget</li>
<li>Thanks to Nathan Freeze for help with admin design</li>
<li>Thanks to Attila Csipa for many helpful patches and comments</li>
<li>Thanks to Bill Ferrett for many helpful patches and comments</li>
<li>This project also uses css layouts and images downloaded from the web. Their authors are acknowledged inside the respective files, if known.</li>
</ul>
