<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="content-language" content="en" />
    <meta name="author" lang="en" content="{{=response.author}}" />
    <meta name="description" content="{{=response.description}}" />
    <meta name="keywords" content="{{=response.keywords}}" />
    <meta name="robots" content="all,follow" />
    <link href="{{=URL(r=request,c='static',f='styles.css')}}" type="text/css" rel="stylesheet" media="screen,projection,print" />

    <title>web2py: Enterprise Web Framework</title>
    {{include 'web2py_ajax.html'}}
  </head>
  <body>

    <div class="layout">      
      <div class="header">
        <h1 class="logo"><a href="http://www.web2py.com" title="Company">web<span class="orange">2</span>py</a></h1>
      </div>
      <div class="menu">
        <ul>
          <li><a href="{{=URL(r=request,c='default',f='index')}}">Home<br /><span>Overview of features</span></a></li>
          <li><a href="{{=URL(r=request,c='default',f='what')}}">What<br /><span>Read this first</span></a></li>
          <li><a href="{{=URL(r=request,c='default',f='download')}}">Download<br /><span>web2py is 100% free</span></a></li>
          <li><a href="{{=URL(r=request,c='default',f='docs')}}">Documentation<br /><span>Start learning web2py today</span></a></li>
          <li><a href="{{=URL(r=request,c='default',f='who')}}">Who<br /><span>Contributors</span></a></li>
          <li><a href="{{=URL(r=request,c='default',f='support')}}">Support<br /><span>Affiliated companies</span></a></li>
	</ul>
      </div> 
      <div class="container">
        <div class="content">
            {{if response.flash:}}<div class="flash">{{=response.flash}}</div>{{pass}}
            {{include}}
        </div>
      </div>
    </div>
    <div class="footer">
      <span>&copy; 2009 - Powered by <a href="http://web2py.com">web2py</a></span>
    </div>
  </body>
</html>
